```
# Dependencies
node_modules/

# Build outputs
dist/
build/
target/

# Environment variables
.env
.env.local
*.env.*

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class
*.py.backup
*.py.swp
*.py.swo
*.py~
*.py#
*.py.bak
*.py.tmp
*.py.log
*.py.cache
*.py.sqlite
*.py.sqlite-shm
*.py.sqlite-wal
*.py.coverage
*.py.lcov
*.py.xml
*.py.json
*.py.csv
*.py.txt
*.py.html
*.py.svg
*.py.png
*.py.jpg
*.py.jpeg
*.py.gif
*.py.bmp
*.py.tiff
*.py.webp
*.py.ico
*.py.cur
*.py.ani
*.py.dds
*.py.pbm
*.py.pgm
*.py.ppm
*.py.pnm
*.py.webm
*.py.mpg
*.py.mp2
*.py.mpeg
*.py.mpe
*.py.mpv
*.py.ogv
*.py.qt
*.py.mov
*.py.avi
*.py.wmv
*.py.rm
*.py.rmvb
*.py.flv
*.py.f4v
*.py.swf
*.py.mkv
*.py.m4v
*.py.mp4
*.py.m4a
*.py.aac
*.py.wav
*.py.mp3
*.py.ogg
*.py.opus
*.py.flac
*.py.m4r
*.py.3gp
*.py.3g2
*.py.h323
*.py.asf
*.py.asx
*.py.cda
*.py.dvf
*.py.f4a
*.py.f4b
*.py.f4p
*.py.f4v
*.py.gsm
*.py.ics
*.py.ifb
*.py.m4a
*.py.m4b
*.py.m4p
*.py.m4r
*.py.m4v
*.py.mid
*.py.midi
*.py.mpa
*.py.mpc
*.py.mpf
*.py.mpt
*.py.mpv
*.py.mqv
*.py.nsc
*.py.nuv
*.py.oga
*.py.ogg
*.py.ogv
*.py.otf
*.py.pfb
*.py.pfm
*.py.ttf
*.py.voc
*.py.vqf
*.py.w64
*.py.wav
*.py.wma
*.py.wmf
*.py.wpd
*.py.wpl
*.py.wps
*.py.wri
*.py.xif
*.py.xm
*.py.xps
*.py.3g2
*.py.3gp
*.py.asf
*.py.asx
*.py.avi
*.py.dvb
*.py.f4v
*.py.fli
*.py.flv
*.py.gif
*.py.h323
*.py.ifo
*.py.m1v
*.py.m2t
*.py.m2ts
*.py.m2v
*.py.m3u
*.py.m3u8
*.py.m4v
*.py.mkv
*.py.mng
*.py.mov
*.py.mp2
*.py.mp2v
*.py.mp4
*.py.mp4v
*.py.mpa
*.py.mpe
*.py.mpeg
*.py.mpg
*.py.mpgv
*.py.mpv
*.py.mxf
*.py.nsv
*.py.ogm
*.py.ogv
*.py.ogx
*.py.qt
*.py.rm
*.py.rmi
*.py.rmm
*.py.rmp
*.py.rms
*.py.rmvb
*.py.rnx
*.py.roq
*.py.rv
*.py.smi
*.py.smil
*.py.snd
*.py.spx
*.py.srt
*.py.ssf
*.py.stl
*.py.sub
*.py.svcd
*.py.swf
*.py.smi
*.py.srt
*.py.sub
*.py.ssb
*.py.ssa
*.py.ass
*.py.usf
*.py.vob
*.py.voc
*.py.vqe
*.py.vql
*.py.vtt
*.py.wax
*.py.wmv
*.py.wmx
*.py.wvx
*.py.xspf
*.py.3ga
*.py.aac
*.py.ac3
*.py.aif
*.py.aifc
*.py.aiff
*.py.amr
*.py.aob
*.py.au
*.py.awb
*.py.dct
*.py.dss
*.py.dvf
*.py.flac
*.py.gsm
*.py.iklax
*.py.ivs
*.py.jks
*.py.jls
*.py.lvp
*.py.m4a
*.py.m4b
*.py.m4p
*.py.m4r
*.py.m4v
*.py.mah
*.py.mdn
*.py.mf
*.py.mka
*.py.mks
*.py.mkw
*.py.mng
*.py.mod
*.py.mof
*.py.mp2
*.py.mp3
*.py.mp4
*.py.mpa
*.py.mpc
*.py.mpga
*.py.mpp
*.py.mpv
*.py.mswmm
*.py.nsc
*.py.nsv
*.py.oa
*.py.ofr
*.py.oga
*.py.ogg
*.py.ogm
*.py.ogv
*.py.ogx
*.py.okt
*.py.opus
*.py.org
*.py.pcm
*.py.plj
*.py.psb
*.py.psc
*.py.psproj
*.py.ptb
*.py.pvi
*.py.qcp
*.py.r
*.py.ra
*.py.ram
*.py.raw
*.py.rcproject
*.py.rcproj
*.py.rct
*.py.rf64
*.py.rm
*.py.rmf
*.py.rms
*.py.rmt
*.py.rnv
*.py.rsd
*.py.rso
*.py.rts
*.py.rtx
*.py.s3m
*.py.saf
*.py.sam
*.py.sbi
*.py.sbp
*.py.sc2
*.py.sc3
*.py.sc4
*.py.sc5
*.py.sd2
*.py.sdat
*.py.sdp
*.py.sds
*.py.sdv
*.py.ses
*.py.sf
*.py.sfl
*.py.sgn
*.py.sid
*.py.skl
*.py.skr
*.py.slc
*.py.sld
*.py.slt
*.py.smp
*.py.snd
*.py.sng
*.py.snk
*.py.sou
*.py.spr
*.py.ssf
*.py.ssi
*.py.sss
*.py.stm
*.py.str
*.py.stx
*.py.svy
*.py.sw
*.py.swa
*.py.swf
*.py.sx
*.py.sxi
*.py.sxw
*.py.sz
*.py.tak
*.py.tan
*.py.tcr
*.py.tta
*.py.tsp
*.py.tta
*.py.ttc
*.py.ufa
*.py.ul
*.py.ulaw
*.py.vag
*.py.vap
*.py.vaw
*.py.vdr
*.py.vdx
*.py.vmd
*.py.vmf
*.py.voc
*.py.vqf
*.py.vrb
*.py.vrm
*.py.vsd
*.py.vsl
*.py.vsq
*.py.vst
*.py.vsu
*.py.vtf
*.py.vtt
*.py.vtx
*.py.vza
*.py.w64
*.py.wav
*.py.wax
*.py.wdp
*.py.webm
*.py.wma
*.py.wmd
*.py.wmf
*.py.wmv
*.py.wmx
*.py.woff
*.py.woff2
*.py.wpd
*.py.wpl
*.py.wps
*.py.wrf
*.py.wrl
*.py.wrx
*.py.wsd
*.py.wsdl
*.py.wsgi
*.py.wsp
*.py.wss
*.py.wsz
*.py.wtb
*.py.wtv
*.py.wv
*.py.wvc
*.py.wvp
*.py.wvx
*.py.xa
*.py.xes
*.py.xfs
*.py.xi
*.py.xla
*.py.xlam
*.py.xlb
*.py.xlc
*.py.xlsm
*.py.xlt
*.py.xltm
*.py.xlw
*.py.xpl
*.py.xps
*.py.xsp
*.py.xspf
*.py.xsr
*.py.xwd
*.py.xy
*.py.xyz
*.py.yuv
*.py.zap
*.py.ztm
*.py.ztx
*.py.~3gp
*.py.~avi
*.py.~mov
*.py.~movie
*.py.~mp4
*.py.~mpe
*.py.~mpeg
*.py.~mpg
*.py.~ogv
*.py.~qt
*.py.~rm
*.py.~viv
*.py.~vivo
*.py.~wmv
*.py.~wmx
*.py.~wvx
*.py.~3g2
*.py.~3gp
*.py.~asf
*.py.~asx
*.py.~avi
*.py.~bin
*.py.~dat
*.py.~db
*.py.~dll
*.py.~drv
*.py.~exe
*.py.~img
*.py.~iso
*.py.~jar
*.py.~lib
*.py.~mdb
*.py.~msi
*.py.~msm
*.py.~msp
*.py.~pdf
*.py.~ppt
*.py.~pptx
*.py.~pub
*.py.~sys
*.py.~tmp
*.py.~torrent
*.py.~xls
*.py.~xlsx
*.py.~zip
*.py.~zoo
*.py.~ace
*.py.~arc
*.py.~arj
*.py.~bz2
*.py.~cab
*.py.~hqx
*.py.~lha
*.py.~lzh
*.py.~sit
*.py.~tar
*.py.~tgz
*.py.~uu
*.py.~war
*.py.~z
*.py.~zip
*.py.~7z
*.py.~rar
*.py.~gz
*.py.~tar.gz
*.py.~tar.bz2
*.py.~tar.xz
*.py.~tar.Z
*.py.~tar.lz
*.py.~tar.lz4
*.py.~tar.lzo
*.py.~tar.zst
*.py.~tar.zstd
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.xar
*.py.~tar.sz
*.py.~tar.fit
*.py.~tar.snappy
*.py.~tar.snz
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py.~tar.lzo
*.py.~tar.lrz
*.py.~tar.lzma
*.py......
```